SoC.Client/Service References/ServiceReference/Jabberwocky.SoC.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jabberwocky.SoC.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jabberwocky.SoC.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameInitializationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ColumnCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FirstColumnCount" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInitializationData" nillable="true" type="tns:GameInitializationData" />
</xs:schema>